<div class="mainpageForm container-fluid d-flex flex-column">
    <div class="row tableRow text-center h-25">
        <div class="col-4 hugeFont">
            <div class="bg-blue">
                <p>SEKCJA</p>
            </div>
        </div>
        <div class="col-2">
            <div class="bg-blue">
                <p>Szt/godz (zmiana)</p>
            </div>
        </div>
        <div class="col-2">
            <div class="bg-blue">
                <p>Szt/godz (ostatnia 1h)</p>
            </div>
        </div>
        <div class="col-2">
            <div class="bg-blue">
                <p>Bilans minut</p>
            </div>
        </div>
        <div class="col-2">
            <div class="bg-blue">
                <p>Srednia wydajnosc</p>
            </div>
        </div>
    </div>
    <div class="h-75 d-flex flex-column">
    <div *ngFor="let item of items" class="row tableRow flex-fill hugeFont">
            <div class="col-2">
                <div class="bg-violet">
                    <p>{{item.type}}</p>
                </div>
            </div>
            <div class="col-2">
                <div class="bg-blue">
                    <p>{{item.section}}</p>
                </div>
            </div>
            <div class="col-2">
                <div class="bg-white">
                    <p>{{item.zmiana}}</p>
                </div>
            </div>
            <div class="col-2">
                <div class="bg-white">
                    <p>{{item.ostatnia}}</p>
                </div>
            </div>
            <div class="col-2">
                <div class="bg-darkblue">
                    <p class={{bColor(item.balance)}}>{{addSign(item.balance)}}</p>
                </div>
            </div>
            <div class="col-2">
                <div class="bg-darkblue">
                    <p class={{wColor(item.wyjdanisc)}}>{{item.wyjdanisc + "%"}}</p>
                </div>
            </div>
    </div>
    <br>
    <div *ngFor="let BtmItem of BtmItems" class="row tableRow flex-fill">
            <div class="col-2">
            </div>
            <div class="col-4">
                <div class="bg-violet">
                    <p>{{BtmItem.type}}</p>
                </div>
            </div>
            <div class="col-2 hugeFont">
                <div class="bg-white">
                    <p>{{BtmItem.value}}</p>
                </div>
            </div>
            <div class="col-4">
            </div>
    </div>
    </div>
</div>