<form [formGroup]="form" (ngSubmit)="submit()">
  <div class="loginForm form-inline">
    <div class="loginBar bg-dark">
      <div class="row h-75">
        <div class="col-4 d-flex flex-column">
          <div class="col">
            <button type="button" class="defaultBtn colorBrown w-100 h-100">1</button>
          </div>
          <div class="col">
            <button type="button" class="defaultBtn colorBrown w-100 h-100">1</button>
          </div>
          <div class="col">
            <button type="button" class="defaultBtn colorBrown w-100 h-100">1</button>
          </div>
        </div>
        <div class="col d-flex flex-column">
          <div class="row flex-fill">
            <button type="button" class="btn btn-light w-100">1</button>
          </div>
          <div class="row flex-fill">
            <div class="col">
              <button type="button" class="defaultBtn colorPurple w-100 h-100">1</button>
            </div>
            <div class="col">
              <button type="button" class="defaultBtn colorPurple w-100 h-100">1</button>
            </div>
            <div class="col">
              <button type="button" class="defaultBtn colorPurple w-100 h-100">1</button>
            </div>
          </div>
          <div class="row flex-fill">
            <button type="button" class="btn btn-light w-100">1</button>
          </div>
        </div>
      </div>
      <div class="row h-25">
        <div class="col">
          <button type="submit" class="defaultBtn colorBlue loginButton" [disabled]="!form.valid">Login</button>
        </div>
      </div>
    </div>
    <div class="dropdownNumbers">
      <div *ngFor="let user of users">
        <a type="button">{{user}}</a>
        </div>
    </div>
  </div>

</form>